.open-book-content-books-book-icon {
    width: 38px;
    position: relative;
    height: 38px;
}
.artidari {
    position: relative;
    font-weight: 800;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.artidaritiny {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    font-size: 36px;
    font-family: Inconsolata;
}
.pencarian {
    position: relative;
    font-weight: 500;
}
.icn-search-icn-xs {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.search {
    width: 435px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;
}
.frame-child {
    width: 35px;
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 1px;
    border-radius: 50%;
    background-color: #4997d0;
    height: 35px;
    z-index: 0;
}
.div {
    width: 17px;
    position: relative;
    display: flex;
    align-items: center;
    height: 38px;
    flex-shrink: 0;
}
.tambah {
    width: 38px;
    border-radius: 50px;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.ellipse-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
    font-size: 30px;
    color: #fff;
    font-family: Radley;
}
.searchadd {
    width: 569px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: left;
    color: #737373;
}
.button {
    border-radius: 5px;
    background-color: #4997d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
}
.upper {
    width: 1440px;
    background-color: #1e2952;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 128px;
    box-sizing: border-box;
}
.nav-list-item {
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.nav-list-item1 {
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-list-item2 {
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.lower {
    width: 1440px;
    background-color: #1e2952;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    gap: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}
.body {
    width: 1440px;
    position: relative;
    background-color: #f5ebe0;
    height: 1936px;
    margin: 0;
    line-height: normal;
    z-index: 1;
}
.open-book-content-books-book-icon1 {
    width: 73px;
    position: relative;
    height: 73px;
}
.open-book-content-books-book-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 27px;
}
.instance-wrapper {
    width: 690px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.span {
    color: #000;
}
.artidari-2024 {
    position: relative;
    font-size: 16px;
    font-family: Raleway;
    text-align: left;
}
.frame-parent {
    width: 1440px;
    background-color: #1e2952;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px 0px 16px;
    box-sizing: border-box;
    gap: 55px;
    z-index: 2;
    font-size: 70px;
    font-family: Inconsolata;
}
.fomo-wrapper {
    background-color: #1e2952;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    mix-blend-mode: normal;
}
.populer {
    width: 845px;
    margin: 0 !important;
    position: absolute;
    top: 676px;
    left: 323px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px 7px;
    z-index: 3;
}
.definisi-hari-ini {
    position: relative;
}
.menyala-abangku {
    width: 501px;
    position: relative;
    font-size: 36px;
    display: inline-block;
    color: #4997d0;
}
.hari-ini {
    width: 721px;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    mix-blend-mode: normal;
}
.bisa-diartikan-sebagai {
    margin: 0;
    font-weight: 500;
}
.orang-1-bro {
    font-weight: 500;
}
.orang-1-bro-tadi-gw-presentas {
    margin: 0;
}
.bisa-diartikan-sebagai-container {
    width: 717px;
    position: relative;
    display: inline-block;
    height: 139px;
    flex-shrink: 0;
}
.maret-2023 {
    margin: 0;
    font-weight: 500;
    color: #737373;
}
.by-dimashotwil331-12-maret-container {
    width: 150px;
    position: relative;
    font-size: 12px;
    display: inline-block;
    height: 37px;
    flex-shrink: 0;
    color: #4997d0;
    font-family: Poppins;
}
.like-1-reward-social-up-ratin-icon {
    width: 12.9px;
    position: relative;
    height: 11.4px;
    mix-blend-mode: normal;
}
.div1 {
    width: 24px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    height: 14px;
    flex-shrink: 0;
}
.like-1-reward-social-up-ratin-icon1 {
    width: 12.9px;
    position: relative;
    height: 11.4px;
    object-fit: contain;
    mix-blend-mode: normal;
}
.div2 {
    width: 11px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    height: 14px;
    flex-shrink: 0;
}
.like-1-reward-social-up-ratin-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
    font-family: Poppins;
}
.definisi {
    width: 857px;
    margin: 0 !important;
    position: absolute;
    top: 198px;
    left: 319px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #fff;
    border: 4px solid #1e2952;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 39px 43px;
    gap: 6px 538px;
    mix-blend-mode: normal;
    z-index: 4;
    text-align: left;
    color: #000;
}
.pencarian-populer {
    width: 169px;
    position: absolute;
    margin: 0 !important;
    top: 650px;
    left: 323px;
    color: #000;
    display: inline-block;
    z-index: 5;
}
.arti-kata-lainnya {
    position: relative;
    font-size: 16px;
    font-family: Raleway;
    text-align: center;
}
.red-flag {
    width: 235px;
    position: relative;
    font-size: 36px;
    display: inline-block;
    font-family: Raleway;
    color: #4997d0;
    height: 63px;
    flex-shrink: 0;
}
.bisa-diartikan-sebagai1 {
    width: 717px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
    display: inline-block;
    height: 44px;
    flex-shrink: 0;
}
.by-real-ryangosling-2-januari-container {
    width: 226px;
    position: relative;
    display: inline-block;
    height: 37px;
    flex-shrink: 0;
    color: #4997d0;
}
.like-1-reward-social-up-ratin-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
}
.flag-1-icon {
    width: 17px;
    position: relative;
    height: 19px;
    object-fit: cover;
}
.flag-1-parent {
    width: 45px;
    border: 0.5px solid #000;
    box-sizing: border-box;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    text-align: center;
    font-size: 9px;
}
.definisi1 {
    width: 849px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 39px 43px;
    box-sizing: border-box;
    gap: 6px 538px;
    mix-blend-mode: normal;
}
.definisi-wrapper {
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.secara-harfiah-spill-container {
    width: 717px;
    position: relative;
    font-size: 16px;
    display: inline-block;
    height: 126px;
    flex-shrink: 0;
    font-family: Raleway;
}
.by-imamvespamatic-6-desember-container {
    width: 200px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    color: #4997d0;
}
.definisi-container {
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 0px 0px;
}
.ygy-adalah-singkatan-container {
    width: 717px;
    position: relative;
    font-size: 16px;
    display: inline-block;
    height: 162px;
    flex-shrink: 0;
    font-family: Raleway;
}
.by-masfaiz1212-13-maret-container {
    width: 206px;
    position: relative;
    display: inline-block;
    height: 37px;
    flex-shrink: 0;
    color: #4997d0;
}
.definisi-frame {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 0px 0px;
}
.arti-kata-lainnya-parent {
    margin: 0 !important;
    position: absolute;
    top: 848px;
    left: 323px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
    z-index: 6;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: Poppins;
}
.landing-page1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.landing-page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Raleway;
}

